<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.works.works_amap_map">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
<!--    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application>
        <activity
                android:name=".WorksAMapLocationActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:theme="@style/push_slide"
                />
        <activity
                android:name=".WorksAMapSearchPOIActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:theme="@style/push_slide"
        />
        <activity
                android:name=".WorksAMapActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:theme="@style/push_slide"
        />
        <activity android:name="com.amap.api.navi.AmapRouteActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/push_slide"
                  />

        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>
